<div id="flipbook" class="iapp-flipbook flipbook">
    <div class="backbutton" ignore="1"><span class="nav-glyph">&#9668;</span></div>
    <div class="iapp-page"> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/cover.jpg" alt=""> </div>
    <div class="iapp-page"></div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/01.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/02.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/03.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/04.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/05.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/06.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/07.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/08.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/09.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/10.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/11.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/12.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/13.jpg" alt=""> </div>
    <div class='iapp-page'> <img src="http://www.gannett-cdn.com/experiments/usatoday/2016/01/election-coloring-book/img/14.jpg" alt=""> </div>
    <div class="hard"></div>
    <div class="forwardbutton" ignore="1"><span class="nav-glyph">&#9658;</span></div>
</div>
        
